*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    font-size: 2rem;
}
input{
    outline: none;
    border: none;
}
.section-contact{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9FAFB;
}
form{
    display: flex;
    flex-direction: column;
    background-color:#FFFFFF ;
    box-shadow: 0 12px 18px rgba(0,0,0,0.5);
    padding: 2rem;
    gap: 1rem;
}
form label{
    font-size: 80%;
    color: slategrey;
}
form input{
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 2px solid #374151;
}
form input:focus{
    border-color: #6366F1;
}
::placeholder {
    color: #9CA3AF;
}
form h1{
    font-size: 130%;
    padding: 1rem;
    color: #111827;
    text-align: center;
    text-transform: uppercase;
    font-family: Playwrite New Zealand Basic;
}
form button{
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    margin-top: 1rem;
    background-color: #4F46E5;
    cursor: pointer;
}
form button:hover{
    background-color: #4338CA;
}

.section-about{
    font-family: Playfair Display;
    background-color: #0B1120;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
}
.cards{
    display: flex;
    gap: 1rem;
    justify-content: space-around;
}
.card{
    background-color: #111827;
    padding: 2rem;
    width: 22%;
    font-size: 80%;
    box-shadow: 0 12px 18px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    border: 1px solid #1F2937;
    color: #9CA3AF;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.card h2{
    color: #E5E7EB;
    font-size: 110%;
    text-align: center;
    margin-bottom: 2rem;
    animation: fadeRight 1s ease ;
}
.card p{
    animation: fadeup 1s ease;
}
header{
    display: flex;
    padding: 0.5rem 0;
    font-size: 70%;
    background-color:#0F172A ;
    justify-content: space-around;
    align-items: center;
    color: #0F172A;
}
nav ul li{
    display: inline-block;
    margin-right: 3rem;
}
nav ul li a{
    text-decoration: none;
    font-size: 110%;
    color: #CBD5E1;
}
nav ul li a:hover{
    color: #F59E0B;
}
nav ul li a:active{
    color:#38BDF8;
}
logo{
    color: #F59E0B;
}
.section-hero{
    background-image: linear-gradient(135deg, #0F172A, #1E293B);
    color: #94A3B8;
    height: 91.8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
}
.hero-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.hero-content h2{
    color: #FFFFFF;
    animation: fadedown 2s ease;
}
.btn{
    padding: 1rem 2rem;
    font-size: 90%;
    border: none;
    cursor: pointer;
    box-shadow: 0 12px 18px rgba(0,0,0,0.4);
    margin-right: 2rem;
}
.apply-btn{
    background-color: #F59E0B;
    color: #0F172A;
    transition: all 0.5s ease;
    transform: scale(1);
}
.apply-btn:hover{
    background-color: #FBBF24;
    transform: scale(1.1);
}
.learn-btn{
    border: 1px solid #F59E0B;
    color: #F59E0B;
    transition: all 0.5s ease ;
    transform: scale(1);
}
.learn-btn:hover{
    background-color: #FBBF24;
    color: #0F172A;
    transform: scale(1.1);
}

@keyframes fadeRight {
    from{
        transform: translateX(-200px);
        opacity: 3;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeup {
    from{
        transform: translateY(100px);
        opacity: 3;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fadedown {
    from{
        transform: translateY(-100%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

